<div class="mceTmpl">
<table style="align: left; text-align: left; overflow-wrap: break-word; font-family: arial, helvetica, sans-serif; font-size: 10pt;">
<tbody>
<tr>
<td style="width: 227px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><img src="images/Nwu-letter-2020.jpg" width="227" /></span></td>
<td style="width: 259px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"> </span></td>
<td style="width: 264px;">
<p align="left" style="text-align: left; overflow-wrap: break-word;"><span style="font-size: 8pt; line-height: 100%; font-family: arial, helvetica, sans-serif;">Private Bag X1290, Potchefstroom<br />South Africa 2520<br /><br />Tel: 018 299-1111/2222<br />Fax: 018 299-4910<br />Web: <a title="North-West University" href="https://www.nwu.ac.za" target="_blank" rel="noopener noreferrer">https://www.nwu.ac.za</a><br /><br /><strong>NWU Internal Audit</strong><br />Tel: 018 285-2805<br />Email: <a title="Christelle Maass" href="mailto:christelle.maass@nwu.ac.za">christelle.maass@nwu.ac.za</a></span></p>
</td>
</tr>
<tr>
<td style="width: 271px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"> </span></td>
<td style="width: 254px;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"> </span></td>
<td style="width: 225px;">
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"> </span></p>
<p><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;">Report date?</span></p>
</td>
</tr>
</tbody>
</table>
</div>