<table border="1" cellspacing="0">
<tbody>
<tr>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; background-color: #bfbfbf;"><strong>COLUMN 1</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; background-color: #bfbfbf;"><strong>COLUMN 2 (Background color #bfbfbf)</strong></td>
</tr>
<tr>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Row 1</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Font size 10pt</td>
</tr>
<tr>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Row 2</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"></td>
</tr>
</tbody>
</table>
