<table style="width: 695px;" border="1" cellspacing="0">
<tbody>
<tr>
<td><strong>Distribution list</strong></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-size: 8pt;">Require Action</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-size: 8pt;">For Your Information</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-size: 8pt;">Reviewed Prior To Release</span></td>
</tr>
<tr>
<td><strong>Name 1</strong> (Position) (insert HTML &amp;#x2714 for a correct tick)</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
</tr>
<tr>
<td><strong>Name 2</strong> (Position) (insert HTML &amp;#x2718 for a cross tick)</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
</tr>
<tr>
<td><strong>Name 3</strong> (Position)</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
</tr>
<tr>
<td><strong>Name 4</strong> (Position)</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
<td style="width: 70px; text-align: center; vertical-align: middle;">✔</td>
</tr>
</tbody>
</table>