<table style="width: 695px;" border="1" cellspacing="0">
<tbody>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"> <strong>Distribution list</strong></span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Require Action</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">For Your Information</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Reviewed Prior To Release </span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"><strong>Name 1</strong> (Position) (use font=webdings size=12pt character=a for tick)</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">0</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">a</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">r</span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"><strong>Name 2</strong> (Position) (use font=webdings size=12pt character=r for cross)</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">0</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">a</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">r</span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"><strong>Name 3</strong> (Position)</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">0</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">a</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">r</span></td>
</tr>
<tr>
<td><span style="font-family: arial, helvetica, sans-serif;"><strong>Name 4</strong> (Position)</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">0</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">a</span></td>
<td style="width: 70px; text-align: center; vertical-align: middle;"><span style="font-family: webdings; font-size: 12pt;">r</span></td>
</tr>
</tbody>
</table>