<table style="width: 25.0389%; height: 79.9376px;" border="1" cellspacing="0">
<tbody>
<tr style="height: 39.9688px;">
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; background-color: #bfbfbf; width: 21.6227%; height: 39.9688px; border: 1px solid #000000;"><strong>COLUMN 1</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; background-color: #bfbfbf; width: 76.1258%; height: 39.9688px; border: 1px solid #000000;"><strong>COLUMN 2 (Background color #bfbfbf)</strong></td>
</tr>
<tr style="height: 19.9844px;">
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; width: 21.6227%; height: 19.9844px; border: 1px solid #000000;"><strong>Row 1</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; width: 76.1258%; height: 19.9844px; border: 1px solid #000000;">Font size 10pt</td>
</tr>
<tr style="height: 19.9844px;">
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; width: 21.6227%; height: 19.9844px; border: 1px solid #000000;"><strong>Row 2</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 10pt; width: 76.1258%; height: 19.9844px; border: 1px solid #000000;"> </td>
</tr>
</tbody>
</table>