<table style="width: 720px;" border="1" cellspacing="0">
<tbody>
<tr>
<td style="font-family: arial, helvetica, sans-serif; font-size: 8pt; background-color: #bfbfbf; width: 120px;"><strong>COLUMN 1</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 8pt; background-color: #bfbfbf;"><strong>COLUMN 2 (Background color #bfbfbf)</strong></td>
</tr>
<tr>
<td style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Row 1 width 120px</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Font size 8pt</td>
</tr>
<tr>
<td style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Row 2</strong></td>
<td style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Table width 720px</td>
</tr>
</tbody>
</table>
