<p></p>
<div class="mceTmpl">
<table style="align: left; text-align: left; overflow-wrap: break-word; font-family: arial, helvetica, sans-serif; font-size: 10pt;">
<tbody>
<tr>
<td style="width: 250px;">
<p><img src="images/signatures/NB sign.jpg" width="99" height="105" /></p>
<p style="text-align: left;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Nicolene Botha<br /><strong>NWU Internal Audit: Audit Manager</strong></span></p>
</td>
<td style="width: 250px;"> </td>
<td style="width: 250px;"> </td>
</tr>
</tbody>
</table>
</div>